<?xml version="1.0"?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<system.serviceModel>

		<client/>
  <services>

			<service behaviorConfiguration="DefaultHttpServiceBehavior" name="VideoOS.ConfigurationAPI.ConfigurationService">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="DefaultHttpBinding" name="HttpServerService" contract="VideoOS.ConfigurationAPI.IConfigurationService">
					<identity>
						<servicePrincipalName value="host/localhost:6161"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" name="HttpMetadataExchange" contract="IMetadataExchange"/>

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:6050/Config"/>
					</baseAddresses>
				</host>
			</service>

		</services>

		<bindings>
   <wsHttpBinding>
    <binding name="DefaultHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
     <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
    </binding>
   </wsHttpBinding>
  </bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultHttpServiceBehavior">
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="1000"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>

			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>

</configuration>
